<app-divider [title]="title"></app-divider>

<div class="ui placeholder">
  <div class="image header">
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="paragraph">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>

<app-divider [title]="title2"></app-divider>

<app-segment>
  <header>
    <i class="pdf file outline icon"></i>
    Hiçbir döküman bulunamadı. Lütfen döküman ekleyin.
  </header>
  <div class="ui primary button">Ekle</div>
</app-segment>
