<h2 mat-dialog-title>Yeni Board Ekle</h2>
<mat-dialog-content>
  <form [formGroup]="boardForm">
    <mat-form-field class="width" appearance="fill">
      <mat-label>Başlık</mat-label>
      <input matInput formControlName="title">

      @if (boardForm.get('title')?.hasError('required')) {
      <mat-error>Başlık girmek <strong>zorunludur</strong></mat-error>
      }

    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="close()">İptal Et</button>
  <button mat-raised-button [disabled]="boardForm.invalid" color="primary" (click)="create()">Oluştur</button>
</mat-dialog-actions>
