<h2 mat-dialog-title>{{data.editMode ? 'Kartı Güncelle' : 'Yeni Kart'}}</h2>
<mat-dialog-content>
  <mat-form-field class="width" appearance="fill">
    <mat-label>Başlık</mat-label>
    <input [(ngModel)]="title" matInput>
  </mat-form-field>

  @for (task of tasksLoop; track $index) {
  <mat-form-field class="width90" appearance="fill">
    <mat-label>Task{{$index + 1}}</mat-label>
    <input [(ngModel)]="tasks[$index]" matInput>
  </mat-form-field>

  <button class="width10" mat-icon-button (click)="deleteTask($index)">
    <mat-icon>delete</mat-icon>
  </button>
  }

</mat-dialog-content>
<mat-dialog-actions class="btn">
  <button mat-raised-button (click)="addTask()">Yeni Task Ekle</button>
  <button mat-raised-button color="accent" (click)="close()">İptal Et</button>
  <button mat-raised-button color="primary" (click)="create()">{{data.editMode ? 'Güncelle' : 'Ekle'}}</button>
</mat-dialog-actions>
